/**
天跑原创
*/
*{
	margin:0;
	padding:0;}
.back{
position: fixed;
width: 100%;
height: 100%;
display: block;
z-index: -100;	
}

.menu-foot{
	color:#3F3F3F99;
	font-weight:500;
	font-size:45px;
	background-color: rgba(255,255,255,0.26);
	padding:5px 10px;
	border-radius:10px;
	margin-top:20px;}
a{
	margin:0 auto;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	margin:10px;
	box-shadow: 30px 30px 40px rgba(121, 81, 281, 0.72)
	width: 250px;
    background-size: cover;
    border-radius: 20px;
    border: 5px solid #00a0ff;
    opacity: 1;
    margin: 0 auto;
    margin-top: 20px;
	margin-bottom: 20px;
	}
a:hover,a:active{
	color:#03F;
	text-decoration:none;}
.menu-foot:hover,.menu-foot:active{
	background-color:#CC6;}
.menu{
	padding-top:0px;
	 text-align:center;
	 
}
	 .like{
		 text-align:center;
		 color:#00C;
		 font-family:Tahoma, Geneva, sans-serif;
		 font-size:50px;
		 padding-top:50px;
		 height:550px;;}
		 
		 #fireworksField{
			 margin-top:40px;;
			 width:100%;
			 height:93%;			 
}
.stylebq{
	 text-align:center;
	 background-color:#CCC;
	 font-size:50px;
	 height:30px;
	 position:fixed;
	 bottom:0;
	 width:100%;
	 }
	 
	

   .ca{
		 text-align:center;
		 color:#00C;
		 font-family:Tahoma, Geneva, sans-serif;
		 font-size:50px;
		 padding-top:50px;
		 height:550px;;
		 box-shadow: 0px 0px 40px rgba(63, 81, 181, 0.72)}
		 
		 #fireworksField{
			 margin-top:40px;;
			 width:100%;
			 height:93%;		
}			 